# Create access codes 

BLOOM_API_URL='https://bloom-backend-staging.herokuapp.com/api'
TOKEN='<paste token here>'
NUMBER_OF_CODES_NEEDED=7

# Upload therapy session 
URL='https://bloom-backend-prod.herokuapp.com/api/webhooks/simplybook'
AUTH='<paste auth here>'
CSV_FILE='therapysession.csv'